@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: radial-gradient(50% 50% at 50% 50%, #171E0C 0%, #131413 100%);
  font-family: "Quantico", sans-serif;
}

h1 {
  font-family: "Doto", sans-serif;
  color: #AEFF00;
}

body input,
body textarea {
  background: rgba(174, 255, 0, 0.2);
  outline: none; 
}

a {
  color: #1d1bd1;
}

a:hover {
  border-bottom: 1px solid;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
