@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #161514;
  background: #fff;
}

body input,
body textarea {
  color: black;
  border: 10px solid #d16e1033;
}

a {
  color: #1d1bd1;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
